# Python caches
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
tmp_trainer/

# System files
.DS_Store
Thumbs.db

# venv
.venv/
venv/
env/

# Large model artefacts
*.bin
*.pt
*.ckpt

# BioBERT model
models/BioBERT/model.safetensors